.Rproj.user
.Rhistory
.RData
.Ruserdata
.tex
.log
.gz

/development/*
/atlasKRW/output/*
/atlasKRW/input/*
/atlasKRW/app/*
/atlasESF/output/*
factsheets/**/*.docx
factsheets/output/*.html
factsheets/output/*.png
/rsconnect/*
/toxiciteit/docs/*
/matrix/_book/*
/atlasToestand/output/*
/atlasToestand/figurenEnTabellen/*
/atlasToestand/www/*
/atlasToestand/_book/*
/KRW overzicht/output*
/templateSysteemAnalyse/*
/pbelasting/input/uitvoer PCDitch tbv serious game HDSR.csv
/pbelasting/output/*
/factsheets/figure/*
/factsheets/output/*
/factsheets/routput/*
/figure/*
/output/*
factsheets/*.log
factsheets/*.tex
