.Rproj.user
.Rhistory
.RData
.Ruserdata

/development/*
/atlasKRW/*
/atlasESF/output/*
factsheets/**/*.docx
factsheets/output/*.html
factsheets/output/*.png
/rsconnect/*
/toxiciteit/docs/*
/matrix/_book/*
/KRW overzicht/*
/atlasToestand/*
/templateSysteemAnalyse/*
/pbelasting/input/uitvoer PCDitch tbv serious game HDSR.csv