.Rproj.user
.Rhistory
.RData
.Ruserdata
.tex
.log
.gz
.html
.js
.map
.css
.yaml

/development/*
/KRWapp/*
/EST/*
/atlasKRW/output/*
/atlasKRW/input/*
/atlasKRW/app/*
/atlasESF/output/*
/atlasESF/_book*
*_book/*
factsheets/**/*.docx
factsheets/output/*.html
factsheets/output/*.png
factsheets/output/*
/rsconnect/*
/toxiciteit/docs/*
/matrix/_book/*
/atlasToestand/output/*
/atlasToestand/data/*
/atlasToestand/scripts/*
/atlasToestand/figurenEnTabellen/*
/atlasToestand/www/*
/atlasToestand/_book/*
/atlasToestand/atlasToestand/*
/KRW overzicht/*
/KRW overzicht/output*
/KRW overzicht/KRW-overzicht.html
/KRW overzicht/map_oordeel_waterlichaam.jpg
/KRW overzicht/libs*
/KRW overzicht/_book*
/KRW overzicht/rsconnect*
/KRW overzicht/KRWoverzicht.html*
/templateSysteemAnalyse/*
/pbelasting/input/uitvoer PCDitch tbv serious game HDSR.csv
/pbelasting/output/*
/factsheets/figure/*
/factsheets/output/*
/factsheets/routput/*
/figure/*
/output/*
factsheets/*.log
factsheets/*.tex
/iregv_app/*
/diepte/output*
